@model VehiclesTrackingSystem.Models.Vehicle

<!DOCTYPE html>
<html>
<head>
    <title>Добавить новое транспортное средство</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Добавить новое транспортное средство</h1>

    <form id="addVehicleForm">
        <label for="vehicleNumber">Номер транспортного средства:</label><br>
        <input type="text" id="vehicleNumber" name="VehicleNumber"><br><br>

        <label for="vehicleType">Тип транспортного средства:</label><br>
        <input type="text" id="vehicleType" name="VehicleType"><br><br>

        <label for="manufacturer">Производитель:</label><br>
        <input type="text" id="manufacturer" name="Manufacturer"><br><br>

        <label for="model">Модель:</label><br>
        <input type="text" id="model" name="Model"><br><br>

        <label for="yearOfManufacture">Год производства:</label><br>
        <input type="number" id="yearOfManufacture" name="YearOfManufacture"><br><br>

        <label for="ownerId">ID владельца:</label><br>
        <input type="number" id="ownerId" name="OwnerId"><br><br>

        <label for="factoryWeight">Заводской вес:</label><br>
        <input type="number" step="0.01" id="factoryWeight" name="FactoryWeight"><br><br>

        <label for="currentWeight">Текущий вес:</label><br>
        <input type="number" step="0.01" id="currentWeight" name="CurrentWeight"><br><br>

        <label for="location">Местоположение:</label><br>
        <input type="text" id="location" name="Location"><br><br>

        <label for="tankCapacity">Емкость бака:</label><br>
        <input type="number" step="0.01" id="tankCapacity" name="TankCapacity"><br><br>

        <label for="currentFuelLevel">Текущий уровень топлива:</label><br>
        <input type="number" step="0.01" id="currentFuelLevel" name="CurrentFuelLevel"><br><br>

        <input type="submit" value="Добавить">
    </form>

    <script>
        document.getElementById('addVehicleForm').addEventListener('submit', function (event) {
            event.preventDefault();

            var formData = new FormData(this);
            var jsonObject = {};

            formData.forEach(function (value, key) {
                jsonObject[key] = value;
            });

            fetch('/Vehicles', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonObject)
            })
                .then(response => {
                    if (response.ok) {
                        alert('Транспортное средство успешно добавлено.');
                        window.location.href = '/Vehicles/Page';
                    } else {
                        alert('Ошибка добавления транспортного средства.' + response.status)
                    }
                })
                .catch(error => console.error('Ошибка:', error));
        });
    </script>
</body>
</html>
